// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #f66103;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

.reveal section a {
	text-decoration: underline;
	// border-bottom: 1px solid $linkColor;
}

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.current-fragment {
	// color: #cc5002;
}

.borderless { // Remove the ugly default border and shadow around images.
	border: none !important;
	box-shadow: none !important;
}

.reveal .slides {
	text-align: left;

	.intro-slide, .thankyou-slide, h1 {
		text-align: center;
	}

	.logo {
		border: 0;
		box-shadow: none;
	}
}

.reveal pre {
	width: 100%;

	code {
		max-height: 600px;
	}
}

.reveal .inline-code {
	background: #3f3f3f;
	display: inline-block;
	font-size: 80%;
	padding: 0 5px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}

section.has-dark-background a .email-name {
	color: #fff; // "name@"
}

.intro-slide {
	.logo {
		max-width: 300px;
		margin: 20px 0 70px;
	}
	// Talk title
	h1 {
		font-size: 1.6em;
	}
	// Name | Event
	h2 {
		font-size: .8em;
		font-weight: normal;
		margin: 30px 0;
	}
	.divider {
		color: $linkColor;
	}
	// Date
	h3 {
		color: #fff;
		font-size: .7em;
		span {
			display: inline-block;
			padding: 4px 80px;
			background: url(../../img/date-bg.svg) 50% 50% no-repeat;
			background-size: 100% 100%;
		}
	}
}

.logo-heading {
	text-align: left;
	img {
		@extend .borderless;
		width: 50%;
	}
}

.thankyou-slide {
	a {
		text-decoration: none !important;
	}
	.logo {
		background: none;
		max-width: 200px;
		margin-bottom: 90px;
	}
	// Thank you
	h1 {
		font-size: 1em;
		margin-bottom: 50px;
	}
	// email, twitter
	h2 {
		font-size: .7em;
		font-weight: normal;
	}
	.twitter-link {
		color: #fff;
	}
}

// Override HLJS light colours inside yellow <mark> tags.
code mark * {
	color: #000 !important;
}

.mypyini::before {
	content: 'mypy.ini';
	display: block;
	font-family: monospace;
	background: lighten(#3f3f3f, 10%);
	padding: 0 5px;
	font-size: 70%;
	color: #fff;
}
